<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="logoNav" src="img/sin_city_burger_transparent.png" alt="Logo">
            <span style="color: red">Sin City</span> Burger
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#order">Order Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#donate">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="text-white">
    <div class="container text-center">
        <img class="logoHeader" src="img/sin_city_burger_transparent.png" alt="Logo"> 
        <p></p>
        <h1 class ="headerText headerMain">THE BEST BURGERS IN TOWN</h1>
        <p class="headerText headerSub" id="subheader">Locally Sourced, 
        Crafted with Love</p>
    </div>
</header>

<img onclick="topFunction()" src="img/sin_city_burger_transparent.png" alt="Logo" id="myBtn" title="Go to top">
